*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  background-color: aquamarine;

}
.tareas{
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  
}
.logo{
  width:100px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.logoJuan{
  width: 800px;
}
.listaTareas{

  width:500px;
  min-height: 500px;
  padding: 25px;
  margin:10px;
 background-color: beige;
  border-radius: 26px;
}
h1{
  text-align: center;
}
.iconoTarea{
  align-items: center;
  margin-left: 400px;}